/*
  feature
*/
.feature {
  background: #f9f9f9;
}

.feature__inner {
  position: relative;
}

.feature__entitle {
}

.feature__title {
  margin-bottom: rem(40);
  @include mq(sm) {
    margin-bottom: rem(150);
  }
  @include mq(md) {
    margin-bottom: rem(250); 
  }
}

.feature__items {
}

.feature__item {
  @include mq(sm) {
    display: flex;
    position: relative;
  }

  &:not(:last-child) {
    margin-bottom: rem(60);
    @include mq(sm) {
      margin-bottom: rem(150);
    }
  }

  &:nth-child(even) {
    @include mq(sm) {
      flex-direction: row-reverse;
      .feature__item-body {
        padding-right: rem(40);
      }
    }
  }
  
  @include mq(sm) {
    &:first-child {
      .feature__item-img {
        right: 6%;
        top: rem(-100);
      }
    }
    &:nth-child(2) {
      .feature__item-img {
        left: 6%;
        top: rem(50);
      }
    }
    &:last-child {
      .feature__item-img {
        right: 6%;
        top: rem(-100);
      }
    }
  }
}

.feature__item-body {
  background: #fff;
  margin: 0 calc(50% - 50vw);
  padding: rem(50) rem(20) rem(40);
  border-radius: rem(16);
  margin-top: rem(-100);
  @include mq(sm) {
    margin: 0;
    width: 65%;
    display: flex;
    padding: rem(55) rem(30);
    padding-right: rem(120);
  }
}

.feature__item-number {
  font-weight: 700;
  font-size: rem(42);
  font-family: $second-font-family;
  color: $main-color;
  @include mq(sm) {
    font-size: rem(65);
    margin-right: rem(20);
    line-height: 1.2;
  }
}

.feature__item-title {
  font-weight: 700;
  font-size: rem(22);
  margin-bottom: rem(5);
  @include mq(sm) {
    font-size: rem(32); 
    line-height: 1.4;
    margin-bottom: rem(15);
  }
  @include mq(md) {
    font-size: rem(36); 
  }
}

.feature__item-text {
  font-size: rem(14);
  line-height: 1.6;
  @include mq(sm) {
    line-height: 1.7;
    font-size: rem(16);
  }
}

.feature__item-img {
  width: 80%;
  margin: 0 auto;
  max-width: rem(400);
  @include mq(sm) {
    position: absolute;
    width: 35%;
    max-width: unset;
  }
}
