@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Noto+Sans+JP:wght@400;700&display=swap");
.u-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-pc {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-sp {
    display: none;
  }
}

/* Google Fonts */
/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif !important;
  color: #2D2D32;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3344453711vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  letter-spacing: 0.03em;
}

section {
  padding: 60px 0;
  padding: 3.75rem 0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 6.25rem 0;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default type */
ul,
ol {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

/* Remove default margin padding */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*  
  btn-2
*/
.btn-2.btn {
  color: #64629D;
  background: #fff;
  border: 2px solid #64629D;
  border: 0.125rem solid #64629D;
}

/*
  btn
*/
.btn {
  text-align: center;
  border-radius: 1.8125rem;
  -webkit-box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, .24);
          box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, .24);
  font-weight: bold;
  display: block;
  height: 58px;
  height: 3.625rem;
  line-height: 54px;
  line-height: 3.375rem;
  font-size: 18px;
  font-size: 1.125rem;
  width: 300px;
  width: 18.75rem;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
  background: #64629D;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  border: 2px solid #64629D;
  border: 0.125rem solid #64629D;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    width: 25rem;
    height: 4.375rem;
    line-height: 4.0625rem;
    border-radius: 3.125rem;
  }
}
.btn:hover {
  top: -3px;
  top: -0.1875rem;
  opacity: 1;
}

/*
  contact
*/
.contact {
  background: #2D2D32;
  padding: 40px 0;
  padding: 2.5rem 0;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 3.75rem 0;
  }
}

.contact__text {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 2.25rem;
    line-height: 1.3;
  }
}

/*
  drawer
*/
.drawer {
  position: fixed;
  z-index: 200;
  top: 52px;
  top: 3.25rem;
  left: 0;
  color: #000;
  background: #EDECFC;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-top: 3.75rem;
}

.drawer__menu {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  padding-left: 105px;
  padding-left: 6.5625rem;
}

.drawer__item {
  width: 300px;
  width: 18.75rem;
  margin: 0 auto;
  font-size: 24px;
  font-size: 1.5rem;
  position: relative;
}
.drawer__item::before {
  position: absolute;
  content: "";
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  border: 2px solid #64629D;
  border: 0.125rem solid #64629D;
  top: 10px;
  top: 0.625rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -40px;
  left: -2.5rem;
}
.drawer__item:not(:last-child) {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}

.drawer__btn:first-of-type {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* このクラスを、jQueryで付与・削除する */
.drawer--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.drawer--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*
  footer
*/
.footer {
  background: #000;
  padding: 40px 0;
  padding: 2.5rem 0;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5625rem 0;
  }
}

.footer__inner {
  max-width: 1200px;
  max-width: 75rem;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer__sns {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__sns {
    margin-bottom: 0;
  }
}

.footer__sns-text {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .footer__sns-text {
    margin-bottom: 0.3125rem;
  }
}

.footer__sns-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__sns-logo {
  width: 24px;
  width: 1.5rem;
}
.footer__sns-logo:not(:last-child) {
  margin-right: 18px;
  margin-right: 1.125rem;
}

@media screen and (min-width: 768px) {
  .footer__content {
    text-align: left;
  }
}

.footer__logo {
  width: 69px;
  width: 4.3125rem;
  margin: 0 auto;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 0.9375rem;
    margin-left: 0;
  }
}

.footer__menu {
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.9375rem;
  }
}

.footer__menu-item {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
}
.footer__menu-item:not(:last-child) {
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer__menu-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.0625rem;
  }
}

.footer__copyright {
  font-size: 10px;
  font-size: 0.625rem;
}
.footer__copyright span {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__copyright span {
    display: inline-block;
  }
}
.footer__copyright span:first-child {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright span:first-child {
    margin-bottom: 0;
  }
}

/*
  gnav
*/
.gnav {
  height: inherit;
}

.gnav__menu {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gnav__menu-item {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}
.gnav__menu-item:not(:last-child) {
  margin-right: 16px;
  margin-right: 1rem;
}
.gnav__menu-item::after {
  position: absolute;
  bottom: 20px;
  bottom: 1.25rem;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  height: 0.1875rem;
  background: #64629D;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.gnav__menu-item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.gnav__menu-item a {
  display: inline-block;
}
.gnav__menu-item a:hover {
  opacity: 1;
}

.gnav__menu-item-btn::after {
  width: 0;
}

a.gnav__btn {
  height: 40px;
  height: 2.5rem;
  line-height: 35px;
  line-height: 2.1875rem;
  width: 180px;
  width: 11.25rem;
  font-size: 16px;
  font-size: 1rem;
}

/*
  hamburger
*/
.hamburger {
  display: block;
  position: absolute;
  z-index: 300;
  right: 20px;
  right: 1.25rem;
  top: 10px;
  top: 0.625rem;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  cursor: pointer;
  text-align: center;
}

.hamburger__border {
  display: block;
  position: absolute;
  width: 30px;
  width: 1.875rem;
  height: 2px;
  height: 0.125rem;
  left: 6px;
  left: 0.375rem;
  background: #64629D;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hamburger__border:nth-child(1) {
  top: 5px;
  top: 0.3125rem;
}
.hamburger__border:nth-child(2) {
  top: 15px;
  top: 0.9375rem;
}
.hamburger__border:nth-child(3) {
  top: 25px;
  top: 1.5625rem;
}

/* ナビ開いてる時のボタン */
.hamburger--active .hamburger__border:nth-child(1) {
  top: 16px;
  top: 1rem;
  left: 6px;
  left: 0.375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger--active .hamburger__border:nth-child(2), .hamburger--active .hamburger__border:nth-child(3) {
  top: 16px;
  top: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*
  header
*/
.header {
  height: 52px;
  height: 3.25rem;
}
@media screen and (min-width: 768px) {
  .header {
    height: 4.5rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 71px;
  width: 4.4375rem;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1250px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/*
  section-entitle
*/
.section-entitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  color: #9f9ec1;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .section-entitle {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
}

/*
  section-title
*/
.section-title {
  text-align: center;
  font-weight: 700;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875rem;
  color: #64629D;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 3rem;
    line-height: 1.2;
  }
}

/*
  about
*/
.about__title {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .about__title {
    margin-bottom: 1.875rem;
  }
}

.about__text {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .about__text {
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;
  }
}
.about__text span {
  font-weight: bold;
}

/*
  feature
*/
.feature {
  background: #f9f9f9;
}

.feature__inner {
  position: relative;
}

.feature__title {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .feature__title {
    margin-bottom: 9.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .feature__title {
    margin-bottom: 15.625rem;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}
.feature__item:not(:last-child) {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .feature__item:not(:last-child) {
    margin-bottom: 9.375rem;
  }
}
@media screen and (min-width: 768px) {
  .feature__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .feature__item:nth-child(even) .feature__item-body {
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .feature__item:first-child .feature__item-img {
    right: 6%;
    top: -6.25rem;
  }
  .feature__item:nth-child(2) .feature__item-img {
    left: 6%;
    top: 3.125rem;
  }
  .feature__item:last-child .feature__item-img {
    right: 6%;
    top: -6.25rem;
  }
}

.feature__item-body {
  background: #fff;
  margin: 0 calc(50% - 50vw);
  padding: 50px 20px 40px;
  padding: 3.125rem 1.25rem 2.5rem;
  border-radius: 1rem;
  margin-top: -100px;
  margin-top: -6.25rem;
}
@media screen and (min-width: 768px) {
  .feature__item-body {
    margin: 0;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3.4375rem 1.875rem;
    padding-right: 7.5rem;
  }
}

.feature__item-number {
  font-weight: 700;
  font-size: 42px;
  font-size: 2.625rem;
  font-family: "Josefin Sans", sans-serif;
  color: #64629D;
}
@media screen and (min-width: 768px) {
  .feature__item-number {
    font-size: 4.0625rem;
    margin-right: 1.25rem;
    line-height: 1.2;
  }
}

.feature__item-title {
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .feature__item-title {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 0.9375rem;
  }
}
@media screen and (min-width: 1024px) {
  .feature__item-title {
    font-size: 2.25rem;
  }
}

.feature__item-text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .feature__item-text {
    line-height: 1.7;
    font-size: 1rem;
  }
}

.feature__item-img {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
  max-width: 25rem;
}
@media screen and (min-width: 768px) {
  .feature__item-img {
    position: absolute;
    width: 35%;
    max-width: unset;
  }
}

/*
  flow
*/
.flow {
  background: #f9f9f9;
}

.flow__inner {
  max-width: 1070px;
  max-width: 66.875rem;
}

.flow__title {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  .flow__title {
    margin-bottom: 3.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .flow__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flow__item {
  max-width: 500px;
  max-width: 31.25rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .flow__item {
    width: 25%;
  }
}
.flow__item:not(:last-child) {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .flow__item:not(:last-child):not(:last-child) .flow__item-img {
    position: relative;
  }
  .flow__item:not(:last-child):not(:last-child) .flow__item-img::after {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -20%;
    border-top: 1.5625rem solid transparent;
    border-left: 1.25rem solid #c4c4c4;
    border-bottom: 1.5625rem solid transparent;
  }
}

.flow__item-img {
  background: #edecfc;
  border-radius: 1.875rem;
  padding: 25px 0;
  padding: 1.5625rem 0;
  position: relative;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.flow__item-img img {
  width: 60%;
  margin: 0 auto;
}

.flow__item-number {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-size: 3rem;
  position: absolute;
  color: #64629D;
  left: 0;
  top: -30px;
  top: -1.875rem;
}

.flow__item-title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .flow__item-title {
    font-size: 1.5rem;
  }
}

/*
  mv
*/
.mv {
  background: #edecfc;
}
@media screen and (min-width: 768px) {
  .mv {
    padding: 6.875rem 0;
  }
}

.mv__inner {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .mv__content {
    width: 60%;
  }
}

.mv__title {
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.6;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 3rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1024px) {
  .mv__title {
    font-size: 3.75rem;
  }
}

.mv__text {
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .mv__text {
    margin-bottom: 2.0625rem;
    font-size: 1.125rem;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) {
  .mv__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .mv__btn {
    margin: 0;
    font-size: 1.125rem;
    width: 15.625rem;
    height: 3.125rem;
    line-height: 2.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  .mv__btn {
    height: 3.375rem;
    line-height: 3.0625rem;
    margin: 0;
  }
}
.mv__btn:first-child {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .mv__btn:first-child {
    margin-bottom: 0;
    margin-right: 2.1875rem;
  }
}

.mv__img {
  width: 80%;
  max-width: 400px;
  max-width: 25rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv__img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 40%;
    max-width: unset;
  }
}
/*
  price
*/
.price__inner {
  max-width: 1020px;
  max-width: 63.75rem;
}

.price__title {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .price__title {
    margin-bottom: 5.25rem;
  }
}

.price__table-wrapper {
  overflow: auto;
  margin-right: calc(50% - 50vw);
  padding-top: 20px;
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .price__table-wrapper {
    margin-right: 0;
    overflow: unset;
  }
}

.price__table {
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .price__table {
    white-space: unset;
  }
}
.price__table:last-child::after {
  position: absolute;
  content: "";
  top: 0;
  left: 100%;
  height: 1px;
  height: 0.0625rem;
  width: 20px;
  width: 1.25rem;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .price__table:last-child::after {
    width: 0;
  }
}
.price__table th,
.price__table td {
  width: 180px;
  width: 11.25rem;
}
.price__table tbody tr:nth-of-type(odd) {
  background: #edecfc;
}
.price__table tbody th,
.price__table tbody td {
  padding: 12px 10px;
  padding: 0.75rem 0.625rem;
}
.price__table tbody th {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  padding-left: 18px;
  padding-left: 1.125rem;
}
@media screen and (min-width: 1024px) {
  .price__table tbody th {
    font-size: 1.125rem;
    padding-left: 1.5625rem;
  }
}
.price__table tbody td {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .price__table tbody td {
    font-size: 1rem;
  }
}
.price__table tbody td:nth-child(3) {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .price__table tbody td:nth-child(3) {
    font-size: 1.25rem;
  }
}

.price__plan {
  background: #2D2D32;
  color: #fff;
  padding: 28px 8px;
  padding: 1.75rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .price__plan {
    padding: 1.875rem 0.9375rem;
  }
}
.price__plan:first-child {
  background: #fff;
}

.price__plan-title {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-title {
    font-size: 1.375rem;
  }
}

.price__plan-price {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-price {
    font-size: 1rem;
  }
}
.price__plan-price span {
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-price span {
    font-size: 2rem;
  }
}

.price__plan-btn {
  font-size: 16px;
  font-size: 1rem;
  height: 42px;
  height: 2.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  border: 2px solid #fff;
  border: 0.125rem solid #fff;
  background: #fff;
  color: #2D2D32;
  font-weight: 700;
}

.price__plan-recommend {
  background: #64629D;
  position: relative;
}
.price__plan-recommend .price__plan-title {
  font-size: 22px;
  font-size: 1.375rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-recommend .price__plan-title {
    font-size: 1.5rem;
  }
}
.price__plan-recommend .price__plan-price {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-recommend .price__plan-price {
    font-size: 1.125rem;
  }
}
.price__plan-recommend .price__plan-price span {
  font-size: 32px;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .price__plan-recommend .price__plan-price span {
    font-size: 2.25rem;
  }
}
.price__plan-recommend .price__plan-btn {
  color: #fff;
  background: #64629D;
}

.price__plan-recommend-wrapper {
  -webkit-box-shadow: 0rem -0.3125rem 0.5rem rgba(0, 0, 0, .6);
          box-shadow: 0rem -0.3125rem 0.5rem rgba(0, 0, 0, .6);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110%;
  padding: 0 10px;
  padding: 0 0.625rem;
  padding-top: 43px;
  padding-top: 2.6875rem;
  background: #64629D;
}
@media screen and (min-width: 1024px) {
  .price__plan-recommend-wrapper {
    padding-top: 2.625rem;
  }
}

.price__table-btn {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  height: 42px;
  height: 2.625rem;
  line-height: 36px;
  line-height: 2.25rem;
  color: #2D2D32;
  border: 2px solid #2D2D32;
  border: 0.125rem solid #2D2D32;
  background: #fff;
}

.price__table-btn-recommend {
  color: #fff;
  background: #64629D;
  border: 2px solid #64629D;
  border: 0.125rem solid #64629D;
}

/*
  question
*/
.question {
  background: #f9f9f9;
}

.question__inner {
  max-width: 920px;
  max-width: 57.5rem;
}

.question__title {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .question__title {
    margin-bottom: 3.75rem;
  }
}

.question__item:not(:last-child) {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.question__item-header {
  background: #64629D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 768px) {
  .question__item-header {
    border-radius: 0.625rem;
    padding: 0.9375rem 1.25rem;
  }
}
.question__item-header::after, .question__item-header::before {
  position: absolute;
  content: "";
  width: 18px;
  width: 1.125rem;
  height: 3px;
  height: 0.1875rem;
  background: #fff;
  top: 50%;
  right: 10px;
  right: 0.625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .question__item-header::after, .question__item-header::before {
    right: 1.25rem;
  }
}
.question__item-header::before {
  top: 48%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.question__item-open::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.question__item-entext {
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  margin-right: 15px;
  margin-right: 0.9375rem;
  line-height: 1;
}

.question__item-text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
}

.question__item-body {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .question__item-body {
    border-radius: 0.625rem;
    padding: 0.9375rem 1.25rem;
  }
}

/*
  users
*/
.users {
  padding-top: 60px;
  padding-top: 3.75rem;
}

.users__inner {
  max-width: 970px;
  max-width: 60.625rem;
}

.users__title {
  margin-bottom: 25px;
  margin-bottom: 1.5625rem;
}
@media screen and (min-width: 1024px) {
  .users__title {
    margin-bottom: 2.5rem;
  }
}

.users__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -12px;
  margin-bottom: -0.75rem;
}

.users__item {
  width: calc(25% - 7.5px);
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.users__item:not(:nth-child(4n)) {
  margin-right: 10px;
  margin-right: 0.625rem;
}